#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Modified keymap based on personal experience, with some improvements based on Miryoku layout.

#define QWERTY  0
#define COLDH   1
#define NAV     2
#define NUM     3
#define PRGRM   4
#define FUN     5
#define ILLUST  6
#define GAME    7

/ {
    combos {
        compatible = "zmk,combos";

        // Combos for media player.
        // I often switch songs while drawing, so I assign the
        // combos on left hand side.
        // combo for toggling illust layer
        // Combo for toggling the Colemak layout
        // Combo for toggling minimal game layout
        // Combo for bluetooth control
        // (i.e. switch among the devices).
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&bt BT_CLR  &kp W  &kp F  &kp P        &kp B                         &kp J      &kp L        &kp U      &kp Y    &kp SEMI
&kp A       &kp R  &kp S  &kp T        &kp G                         &kp M      &kp N        &kp E      &kp I    &kp O
&kp Z       &kp X  &kp C  &kp D        &kp V                         &kp K      &kp H        &kp COMMA  &kp DOT  &kp FSLH
                          &bootloader  &kp LSHFT  &kp BSPC  &kp RET  &kp SPACE  &bootloader
            >;
        };
    };
};
